// font-size
$font-size-largest: 30px;
$font-size-huge: 22px;
$font-size-huger: 26px;
$font-size-title: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-small-middle: 13px;
$font-size-smaller: 10px;
$font-size-36: 36px;
$font-size-42: 42px;
$font-size-40: 40px;

$font-line-height-primary: 1.5;
$font-weight-lighter: 300;
$font-weight-medium: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

// background
$background-common: #f5f5f5;

// 头部高度
$page-header-height: 60px;
